<table id="tb@(ViewBag.Column)_@(ViewBag.Id)" class="tbContent">
    <tr id="tr@(ViewBag.Column)_@(ViewBag.Id)" class="trContent">
        <td id="tdContent@(ViewBag.Column)_@(ViewBag.Id)"><div id="Project_Info_@(ViewBag.Column)_@(ViewBag.Id)_Content_@(ViewBag.Id)">@Html.Raw(ViewBag.Content)</div><button onclick="editText(this);" class="btnEdit"></button></td>
    </tr>
</table>