body {
    background-color: white;
}
#loadingDiv {
    position:fixed; top:0; left:0; z-index:99;
    filter:alpha(opacity=0);
    opacity:0;
    background-color:#4c4c4c;
    width:100%; height:100%;
}
#loadingImgBox {
    position:fixed; top:40%; left:50%;
    width:100px; height:100px;
}
ul {
    padding:0;margin:0;
}

.nav > li > a {
    margin:1px 10px 0 0;
    line-height:30px; height:30px;
    display:block; text-align:center;
    padding:0 0 5px 0; 
    background:#4c4c4c;
    border-bottom:#303030;
    border-top:#5c5c5c;
    color:white;
    background:-moz-linear-gradient(top, #4c4c4c 0%, #404040 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c4c4c), color-stop(100%, #404040));
    background:-webkit-linear-gradient(top, #4c4c4c 0%, #404040 100%);
    background:-o-linear-gradient(top, #4c4c4c 0%, #404040 100%);
    background:-ms-linear-gradient(top, #4c4c4c 0%, #404040 100%);
    background:linear-gradient(top, #4c4c4c 0%, #404040 100%);
}
.btn {
    display:inline-block;padding:5px 12px;
    margin-bottom:0; font-size:14px;
    line-height:1.4; text-align:center; vertical-align:middle; white-space:nowrap;
    cursor:pointer; border:1px solid transparent;
    border-radius:8px;
    background-color:#ccc;
}
    .btn:hover {
        color:red; background-color:#aaa; border-color:#999;
    }
    .btn:active {
        color:red; background-color:#bbb; border-color:#bbb;
    }

.boxshadow {
    box-shadow:2px 2px 10px #909090; -webkit-box-shadow:2px 2px 10px #909090;
    height:auto !important;
    margin:15px 0;
    padding:5px;
}
    .boxshadow > .content {
        border-top:1px solid #ddd;
        display:none;
    }
#leftMenu {
    float:left;
    width:10%;
}
#rightPage {
    float:left;
    width:89%;
}
.page {
    display:none;
}
.tabs {
    clear:both;
}
.tab {
	position: relative; top: 1px; float: left;
	padding: 4px 10px; margin: 0px 1px 0px 0px;
	font: bold 1em;	
	list-style: none; -moz-user-select: none; -khtml-user-select: none;
	cursor: pointer;
    border-left: solid 1px #CCC;
	border-bottom: solid 1px #999;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
    background: url(/img/gray.png) repeat-x #99c4dc;/*Tab的背景颜色#DDD*/
}
.tab:hover {
	background: url(/img/red.png) repeat-x  #f96706; /* 鼠标放到Tab上的颜色 #CCC;*/
}
.tab.activeTab {
	background: url(/img/blue.png) repeat-x  #0e97e6; /* 当前选择Tab的颜色#EEE;*/
	/*border-bottom: 1px solid #006abf;*/ /*#EEE;*/
}
#reportTitleDiv {
    font-size:18px; font-weight:bold; text-align:center;
    margin-top: 15px;
}
#delCover {
    display:none; background-color:#444; z-index:99;
    position:fixed; top:0; left:0; width:100%; height:100%;
    filter:alpha(opacity=90);opacity:0.9;
}
#delConfirm {
    margin:200px auto 0 auto; width:300px; height:180px;
    overflow:hidden; background-color:#c00;
    box-shadow:4px 4px 10px #f00; border-radius:16px;
}
#delMsg {
    background-color:#eee;
    width:260px; height:120px;
    margin:10px 10px 3px 10px; padding:10px; border-radius:10px;
}
#delBtn {
    padding:1px 20px 5px 0; text-align:center;
}
.projectTitle {
    text-align:center;
}
.panelTitle {
    font-size:18px;
    margin:30px 0 5px 0;
}
.Hide {
    display: none;
}
.projectArrow {
    /*width:16px; height:16px; background:url(/img/up.png) no-repeat;
    display:inline-block;*/
}
.projectHeader {
    overflow:hidden;
}
/*初始时 折叠 */
.prjContentHide {
    display:none;
}
#reportName {
    border:none;
    border-bottom:1px dashed #0e97e6;
    width:80%; text-align:center;
    /*background-color:#eee;*/
    font-size:24px; font-weight:bold; margin: 3px 0 0 5px; padding:4px;
}

/*一、整体概况的项目名称*/
.prjName1 {
    border:none;
    border-bottom:1px dashed #0e97e6;  
    font-size:16px; margin: 3px 5px; padding:4px;
}
.seq {
    border:none;
    border-bottom:1px dashed #0e97e6;  
    padding:4px;
    width:36px;
}
.platform, .feedbackCount, .status {
    border:none;
    border-bottom:1px dashed #0e97e6;  
    padding:4px;
}
/*二、项目概况的项目名称*/
.prjName {
    border:none;
    border-bottom:1px dashed #0e97e6;
    background-color:#eee;
    font-size:16px; margin: 3px 0 0 5px; padding:4px;
}
.tabContent {
    background-color:#fff;
    clear:both;
}
.projectName {
    background-color:#ccc; /*border:1px solid #ccc; border-radius:6px;*/
    line-height:1.4; margin:0; padding:5px; cursor:pointer;
    clear:both;
    float:left; width: 150px;
}
/*三、重点事务*/
.classify, .priority {
    border:none;
    border-bottom:1px dashed #0e97e6;  
    padding:4px; width:80px;
}
.projectBox {
    background-color:#eee; border:1px solid #ccc; border-radius:6px;
    line-height:1.4; margin:3px 0 0 0; padding:0; 
    height:auto; overflow:hidden;
    clear:both;
}
    .projectBox .trContent > td {
        border: none;
    }
.arrowUp {
    width:18px; height:20px; background:url(/img/up.png) no-repeat;
    display:inline-block; cursor:pointer; margin:0px 13px 0 13px;
}
.arrowDown {
    width:18px; height:20px; 
    background:url(/img/down.png) no-repeat;
    display:inline-block; cursor:pointer;margin:0px 13px 0 13px;
}
.tbContent{border-collapse:collapse;border:none; width:100%; margin:0;}
.trContent>td {
    border:solid 1px #ccc; padding:5px;
}
.trContent>th {
    border:solid 1px #ccc; background:url(/img/gray9.png) #bbb repeat-x;
    /*color:white;*/
    padding:6px;
}

.btnDeleteData {
    background:url(/img/minus.png) no-repeat;
    border:0; cursor:pointer;
    width:14px; height:14px; float:right;
}
.trNewRow .btnDeleteData, #newProjectInfo .btnDeleteData {
    display:none;
}
.btnEdit {
    background:url(/img/edit.png) no-repeat;
    border:0; cursor: pointer;
    width:14px; height:14px;float:right;
    color:white;
}
.topTitle {
    background-color:#ccc;
}
#btnBox {    
    background-color:#ddd;
    /*border-bottom:1px solid red;*/
}
#editColumnName {
    padding: 5px 10px;/*background:url(/img/gray9.png) #bbb repeat-x;*/
}
#editorLengthShow {
    display:block; margin:5px;
}
.btnSave, .btnCancel {
    /*background-color:#08c;*/
    margin: 5px 5px 5px 10px;
}
#editLayer {
    display:none;
    position:fixed; z-index:99; 
    padding:0px 2px 0px 0px;
    background-color:#ccc;
    /*left: 50%;*/
    top: 100px;
}
#editLayer.centerBox {
    margin-top: -250px;
    margin-left: -330px;    
}
#editBack {
    position:fixed;top:0; left:0; width:100%; height:100%;z-index:98;
    filter:alpha(opacity=98); opacity:0.98;
    background-color:#333;
    display:none;
}
#resultMsg {
    margin-top:-50px;
    margin-left:-200px;
    z-index:100;
    display:none; background-color:#f5df69;
    left:50%;
    top:50%;
    position:fixed;
    padding:10px;
    border:solid 3px #ff6a00;
    border-radius: 8px; box-shadow:2px 2px 10px #ff6a00;
}
#copyDiv {    
    margin-left:-310px;
    left:50%;
    top:40px;
    position:fixed;
    padding:10px;
    border:solid 3px #ff6a00;
    border-radius: 8px; box-shadow:2px 2px 10px #ff6a00;
    background-color:#f5df69;
    z-index:100;
}
#searchBox {
    border:1px solid  #7485e5 ;
    box-shadow:2px 2px 10px #7485e5;
    overflow:hidden;
}
.searchTable {
    float:left;
}
.previewLink {
    float:right; color:blue; text-decoration:none; margin: 3px 10px;
}
#copyWeekReport {
    float:left; color:blue; text-decoration:none; margin:3px 10px;
}
#editTitle {
    border:1px solid #bbb;
    box-shadow:2px 2px 10px #909090;
    margin-top:20px;
}
.totalCount {
    background-color:#ccc;padding:5px 10px;display:none;
}
.pageDiv {
    padding: 3px;
    margin: 3px;    
    /*text-align: center;*/
}
.pageDiv span.activeLink {
    padding: 2px 6px;   
    font-weight: bold;   
    color: #fff;
    background-color:#229fdd;
    margin-right: 3px;    
}

.pageDiv a {
    border: #dedfde 1px solid;
    padding: 2px 6px;
    /*background-position: 50% bottom;*/    
    color: #00f;
    margin-right: 3px;    
    text-decoration: none;
}
.pageDiv a:hover {
    border: #000 1px solid;
    background-image: none;  
    color: #fff; 
    background-color: #229fdd
}

/*td 列宽度*/
/*一、整体概况*/
.deleteTH { width:36px; }
.thSum1_1 { width:250px; }
.thSum1_2 { width:40%; }
.thSum1_3 { }


.thSum2_1 { width:250px; }
.thSum2_2 { width:30%; }
.thSum2_3 { }
.thSum2_4 { width:30%; }


.thSum3_1 { width:36px; }
.thSum3_2 { width:80px; }
.thSum3_3 { width:30%;}
.thSum3_4 { width:60px; }
.thSum3_5 { width:80px; }
.thSum3_6 {  }

.thSum4_1 { width:36px; }
.thSum4_2 { width:80px; }
.thSum4_3 { width:25%;}
.thSum4_4 { width:80px; }
.thSum4_5 { width:25%; }
.thSum4_6 { }
/*二、项目概况*/

/*三、重点事务 产品事务*/
.thAffair1_1 { width: 80px;}
.thAffair1_2 { width: 80px;}
.thAffair1_3 { width: 80px;}
.thAffair1_4 { width: 30%;}
.thAffair1_5 { }

.userInfo {
    float:left; width:300px;
    border:1px solid #ccc;
    margin:10px; padding:10px;
}
#insertUser {
    clear:both;
}
#userInfoNew {
    border:1px solid #ccc;
    margin:10px; padding:10px;
}